body {
  padding-bottom: 100vh;
}

#mainCanvas {
  margin-right: 10px;
}

#panel > * {
  display: inline-block;
}

#controler {
  & td {
    margin: 10px;
    height: 6rem;
    text-align: center;
    & > input {
      display: block;
      width: 6rem;
      margin: 3px 0.5rem;
    }
    border: 1px solid black;
  }

  & .center {
    position: relative;

    &::before {
      content: '';
      background-color: var(--turn);
      display: block;
      width: 80%;
      height: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: 0;
      opacity: 0.5;
    }

    & > input {
      position: relative;
      z-index: 1;
    }
  }
}

.colorsample {
  & > .color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
}
